{% extends 'base.html.twig' %}

{% block title %}Résultat de la recherche{% endblock %}

{% block body %}
    <h2>Résultat de la recherche de <code>{{ mot }}</code></h2>
    <div class="card-columns">
        {% for livre in livres %}
            {% include "livre/vignette.html.twig" %}
        {% else %}
            Aucun livre ne correspond à cette recherche.
        {% endfor %}
    </div>

    {% if is_granted("ROLE_BIBLIO") %}
        <ul class="list-group">
            {% for abonne in abonnes %}
                <li class="list-group-item">
                    <a href="{{ path("abonne_show", {id: abonne.id})}}" class="btn btn-secondary">
                    {{ abonne.pseudo }} {{ abonne.prenom }} {{ abonne.nom }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
